.c-button {
    border: none;
    -webkit-appearance: none;
    padding: 10px 25px;
    @include borderRadius(5px);
    font-size: 16px;
    color: $color-white;
    font-weight: 400;
    cursor: pointer;

    &--github {
        background: $color-black;
    }

    i {
        margin-right: 3px;
        display: inline-block;
        font-size: 25px;
        height: $size-base;
        line-height: $size-base;
        vertical-align: text-bottom;
    }

    span {
        height: $size-base;
        line-height: $size-base;
        vertical-align: text-bottom;
        display: inline-block;
    }

    .t-light & {
        color: $color-white;
        background-color: $color-black;
    }

    .t-dark & {
        color: $color-black;
        background-color: $color-white;
    }

    &--finals {
        position: absolute;
        top: 98px;
        right: 12px;
        z-index: 999;
        background: $color-black-dark !important;
        color: $color-white !important;
        padding: 10px 15px;

        i {
            font-size: 16px;
            margin: 0 0 0 5px;
        }
    }

    &--ladder {
        position: absolute;
        top: 98px;
        left: 12px;
        z-index: 999;
        background: $color-black-dark !important;
        color: $color-white !important;
        padding: 10px 15px;

        i {
            font-size: 16px;
            margin: 0 5px 0 0;
        }
    }
}