.c-date {

	&__day,
	&__date,
	&__month,
	&__time,
	&__live,
	&__status {
		display: inline-block;
	}

	&__day,
	&__month,
	&__live,
	&__status  {
		margin-right: 5px;
		font-weight: 600;
	}

	&__date {
		margin-right: 10px;
		font-weight: 600;
	}

	&__live {
		color: $color-red;
	}

	&__time {
	}
}