.c-finals {

   &-alt {
      background: $color-black-dark;
   }

   h2 {
       @media screen and (min-width: $break-m){
           padding-bottom: $size-base;
       }
   }

   &__game {
       background: $color-grey-dark;
       width: 23%;
       margin-bottom: 35px;
       margin-right: 1.5%;
       display: inline-block;

       &:nth-child(5),
       &:nth-child(10) {
           margin-right: 0;
       }

       &--in-progress {
           background: $color-offwhite;
           color: $color-black;
       }
       
       &--completed {
           background: #444;
       }

       @media screen and (max-width: $break-s) {
           width: $width-12;
           margin: 0 0 36px;
       }
   }

   &-2 {
      .c-finals__game:nth-child(3) {
         margin-right: 0;
      }
   }

   &-1 {
      margin-bottom: -$size-base;
      
      .c-finals__game {
         margin-right: 0;
      }
   }

   &__venue {
       padding: $size-base 0 $size-base;
       font-size: 12px;
   }
   
   
   &__date {
       padding: $size-base 0 $size-base-s;
       line-height: 1.5;
   }

   &__vs {
       display: inline-block;
       padding: 0 $size-base;
       vertical-align: top;
       margin-top: $size-base-lg;
   }

   &__team {
       display: inline-block;
       text-align: center;
       width: 75px;

       img,
       span {
           display: block;

           &.js-score-text {
               padding-top: $size-base-xs;
           }
       }

       img {
           width: 75px;
           height: 75px;
           text-align: center;
           margin: $size-base-s 0;
           // @include boxShadow(3, $color-black);
       }
   }
}