.c-ladder {
    // background: $color-white;

    &__container {
        position: relative;
        z-index: 1;

        @media screen and (min-width: $break-l) {
            padding-right: 0;
        }
    }

    h2 {
        padding-bottom: 15px;
    }

    &__item {
        display: inline-block;
        width: 100%;
        background: #555;
        position: relative;
        text-align: left;
        color: $color-white;

        // Flex
        @include flex-prep;
        margin: 3px auto;

        div {
            display: inline-block;
            padding: $size-base-s 0;
        }

        div:nth-child(even) {
            background: rgba(0,0,0,0.05);
        }

        &-0 {
            background: $color-black;

            div {
                color: $color-white;
                background: transparent !important;

                &.c-ladder__team {
                    padding: $size-base-s !important;
                }
            }
        }

        &-1, 
        &-2, 
        &-3, 
        &-4 {
            background: $color-offwhite;
            color: $color-black;
        }

        &-5,
        &-6,
        &-7,
        &-8 {
            background: $color-grey-light;
            color: $color-black;
        }
    }

    &__position {
        @include flex-size($width-1);
        text-align: center;
    }

    &__team {
        @include flex-size($width-3);
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        position: relative;
        padding: 0 !important;

        span {
            padding-left: $size-base-s;
            margin-top: $size-base-s;
            display: inline-block;
            vertical-align: top;
        }
    }

    &__played,
    &__wins,
    &__draws,
    &__losses,
    &__points-for,
    &__points-against,
    &__percentage,
    &__points {
        @include flex-size($width-1);
        text-align: center;
    }

    &__icon {
        @include boxShadow(2, $color-black);
        height: 41px;
        width: 41px;
        margin-bottom: -2px;
    }

    &__points-for,
    &__points-against {
        display: none !important;
    }

    &__percentage {
        @include flex-size($width-2);
    }

    &__team {
        @include flex-size($width-4);
    }

    // Media Queries

    @media screen and (max-width: $break-m){

        &__points-for,
        &__points-against {
            display: none !important;
        }

        &__percentage {
            @include flex-size($width-2);
        }

        &__team {
            @include flex-size($width-4);
        }
    }

    @media screen and (max-width: $break-xs){

        &__item {
            div {
                padding-left: 0;
                padding-right: 0;
            }

            div:nth-child(even) {
                background: transparent;
            }
        }

        &__wins,
        &__losses,
        &__draws {
            display: none !important;
        }

        &__team {
            @include flex-size($width-7);
        }
    }
}