.c-scroll {
   display: none;

   @media screen and (max-width: $break-s) {
      display: block;
      position: fixed;
      z-index: 999;
      background: $color-black-dark;
      bottom: $size-base-s;
      right: $size-base-s;
      height: $size-base-lg;
      width: $size-base-lg;
      font-family: $font-icon;
      @include borderRadius($size-base);
      @include boxShadow(2, $color-black);

      &.is-hidden {
         display: none;
      }

      &.has-live {
         background: $color-red;
      }

      &:before {
         position: relative;
         z-index: 999;
         content: '\f103';
         color: $color-white;
         font-size: $size-base;
         line-height: $size-base-lg;
         display: block;
         @include borderBox;
         height: $size-base-lg;
         width: $size-base-lg;
         font-family: $font-icon;
      }
   }
}