.o-section {
	padding: 50px 0;
	width: $width-12;
	position: relative;
	z-index: 999;

	h2 {
		font-family: $font-heading;
		font-size: toRems(32px);
		padding: $size-base 0;
	}

	&--white {
		background: $color-white;
	}

	&--pattern {
   	background: url(../img/patternWhite.png) repeat #f1ede1;
	}

	&--pattern-green {
		background: url(../img/patternWhite.png) repeat #ABD4CE;
	}
}